.dark-card{
    background-color: red;
    color: #ffffff;
}
.light-card{
    background-color: FFFFFF;
}
.card-container{
    margin-bottom: 32px;
}

.box{
    width: 70%;
    border-radius: 10px;
    border-color: #f44336;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.avatar {
    background-color: #f44336;
}