.dark-homeGrid {
    background-color: #312f2f;
}
.light-homeGrid {
    background-color: #f4f4f4;
}
.homeGrid {
    height: auto;
    overflow: auto;
    padding-top: 90px;
    box-sizing: border-box !important;
    margin-top: 0px !important;
}
