.dark-navbar {
  background-color :  #69a10d;
  color: #ffffff;
}
.light-navbar {
  background-color :  #aceb46;
  color: black;
}
.navbar {
  
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
}

.navbar-container {
  flex-grow: 1;
  display: block !important;
}

@media screen and (max-width: 576px) {
  .navbar-container {
    flex-grow: 1;
    display: none !important;
  }
}

.search {
  margin-right: 16px;
}

.navbarBox {
  flex-grow: 1;
}
