.dark-sidebar {
  color: #f5f5f4;
  font-family: 'Montserrat', sans-serif;
}
.light-sidebar {
  font-family: 'Montserrat', sans-serif;
}

.heading{
  color: #493f3f;
  padding-bottom: 10px;
}

.submit-button{
color: aliceblue !important;
background-color: rgb(0, 132, 255) !important;
}